/* CSS Document */

.jraformbg
{
	width:1024px;
	height:700px;
	margin-left:20px;
	margin-top:20px;
	position:fixed;
	background-color:#f7f7f7;	
	box-shadow: 15px 20px 10px #eceade;
}
.tablediv
{
	width:400px;
	height:auto;
	margin:0 auto;
	margin-top:20px;
	border:#91A2E8 1px thin;
	border-radius:10px 10px 0px 0px;
	box-shadow: 15px 20px 10px #eceade;

}
.tablebg
{
	width:405px;
	height:auto;
	margin:0 auto;
	text-align:left;
	padding:10px;
	border:#AAAABB 1px solid;
	background-color:#f1f4f9;
}
.tableheading
{
	background-color:#0000CC;
	color:#ffffff;
	height:30px;
	width:388px;
	margin:0 auto;	
	padding:8px;
	font-size:24px;
	font-weight:bold;
	border:#AAAABB 1px solid;
	border-radius:10px 10px 0px 0px;
	text-shadow: -2px -2px #00b;
}
.textlable
{
	color:#0000CC;
	font-weight:bold;
	font-size:14px;
	text-shadow: 2px 2px #fff;
	
}
.jraformbg input
{
	border:#CCE8FD solid 1px;
	border-radius:5px;
	height:24px;
	text-indent:5px;
}

.jraformbg input:hover
{
	background-color:#FFFFB9;
}
.jrabtn
{
	background-color:#000689;
	border:0px;
	color:#ffffff;
	font-size:18px;
	text-indent:0px;
	padding:0px 10px 0px 10px;
	margin-top:10px;
	width:auto;
	border-radius:8px;
	cursor:pointer;
}
.jrabtn:hover
{
	background-color:#a45d87;
	color:#0000ff;	
}

.jra_input_text{
	background-color:#FCFDFF;
	color:#303030;
	width:185px;
	border:thin solid #D9EAEA;
	height:21px;
	border-radius:6px;
	box-shadow:0px 0px 5px #D9EAEA inset;
}
.jraselect
{
	width:185px;
	height:30px;
	padding:4px 0px;
	color:#2E2893;
}
.jraselect_small
{
	width:150px;
	height:30px;
	padding:4px 0px;
	color:#2E2893;
}
.alink
{
	color:#000099;
	text-decoration:none;
	cursor:pointer;		
}
.alink:hover
{
	color:#006600;
	font-size:16px;
}
