w@charset "utf-8";
/* CSS Document */

*
{
	margin:0px auto;
	padding:0px auto;
}
body
{

}

.main
{
	width:1024px;
	height:auto;
	background-color:#f7f7f7;	
	box-shadow: 0px 0px 18px #333;
}
.header
{
	width:1024px;
	height:70px;
	background-color:#067;
    background: -webkit-linear-gradient(#67a,#00078a,#67a); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#67a,#00078a,#67a); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#67a,#00078a,#67a); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#67a,#00078a,#67a); /* Standard syntax */
	
	color:#CCCCCC;
	text-shadow:2px 2px #333;
	font:"Times New Roman", Times, serif;
	font-size:36px;
	text-align:center;
	vertical-align:middle;
	padding-top:40px;
}
.nav
{
	width:1024px;
	height:40px;
	background-color:#06f6;
    background: -webkit-linear-gradient(#239,#000056,#239); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#239,#000056,#239); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#239,#000056,#239); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#239,#000056,#239); /* Standard syntax */	
}

.navleft
{
	width:150px;
	height:auto;
	background-color:#066;
    background: -webkit-linear-gradient(#239,#000056,#239); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#239,#000056,#239); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#239,#000056,#239); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#239,#000056,#239); /* Standard syntax */	
}


.middle
{
	width:1024px;
	height:auto;
	background-color:#efefef;
    background: -webkit-linear-gradient(#eee,#efefef,eee); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#eee,#efefef,eee); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#eee,#efefef,eee); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#eee,#efefef,eee); /* Standard syntax */		
}
.footer
{
	width:1024px;
	height:30px;
	background-color:#CCCCCC;
    background: -webkit-linear-gradient(#999,#666,#999); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#999,#666,#999); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#999,#666,#999); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#999,#666,#999); /* Standard syntax */		
	box-shadow: 0px 0px 18px #333;
}

.nav ul
{
	list-style:none;
	margin:0px;
	padding:0px;
}
.nav ul li
{
	float:left;
	width:150px;
	text-align:center;
	line-height:40px;
	font-family:Verdana, Geneva, sans-serif;
}
.nav ul li a
{
	color:#fff;
	text-decoration:none;
}

.nav ul li:hover
{
	float:left;
	width:150px;
	text-align:center;
	line-height:40px;
	font-family:Verdana, Geneva, sans-serif;
    background: -webkit-linear-gradient(#000056,#239,#000056); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#000056,#239,#000056); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#000056,#239,#000056); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#000056,#239,#000056); /* Standard syntax */	
	border-radius:8px;
	
}

#leftdiv
{
	position:relative;
	float:left;
	width:150px;
	min-height:495px;
	width:150px;
    height: -webkit-fill-available;
	background-color:#066;
    background: -webkit-linear-gradient(-90deg,#3344cc,#1122ff,#3344ee); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-90deg,#3344ee,#1122ff,#3344ee);/* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-90deg,#3344ee,#1122ff,#3344ee); /* For Firefox 3.6 to 15 */
    background: linear-gradient(-90deg,#3344cc,#1212ef,#3344cc); /* Standard syntax */	
}


.navleft ul
{
	list-style:none;
	margin:0px;
	padding:0px;
}
.navleft ul li
{
	float:left;
	width:150px;
	text-align:center;
	line-height:40px;
	font-family:Verdana, Geneva, sans-serif;
	border-bottom:#4466CC 2px solid;
	border-radius:3px;
}
.navleft ul li a
{
	color:#fff;
	text-decoration:none;
}

.navleft ul li:hover
{
	float:left;
	width:150px;
	text-align:center;
	line-height:40px;
	font-family:Verdana, Geneva, sans-serif;
    background: -webkit-linear-gradient(#ccc,#3344ee,#1122ff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#1122ff,#3344ee,#1122ff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#1122ff,#3344ee,#1122ff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ddd,#ababef,#ddd); /* Standard syntax */	
	border-radius:8px;
	color:#444;
	
}

.navleft ul li a:hover
{
	color:#067;
	text-decoration:none;
}
a{
    color:white;
}

#logindiv
{
	height:auto;
	width:300px;
    vertical-align: middle;
	position:relative;
	border-radius:8px;
	box-shadow: 0px 0px 18px #333;
}

.sub {
    color: cadetblue;
    font-family: fantasy;
    font-size: 25px;
    text-align: center;
}

.subdisc{
    color: darkviolet;
    font-size: 20px;
    font-family: cursive;
}

#about1{
    width:90%;
    margin-top: 50px;
    position:relative;
    top:50px;
}

#contact{
    position: relative;
    width:90%;
    margin-top: 900px;
}

#workareadiv {
    min-height: auto;
    height: -webkit-fill-available;
}

.dot {
    z-index: 1;
}

.social{
    background-color: #6991AC;
	list-style-type:none;
	text-align:center;
	padding:2px 0px 2px 2px;
}
.social li{
	display:inline;
}
.social i{
	font-size:300%;
	margin:1%%;
	padding:5% 5% 5% 4%;
	color:#C3D7DF;
}
.social i:hover{
	color:#F5F5F5;
}

#about {
	background-color: #f4f4f4;
	padding: 80px 0px;
}

#about .section-heading {
	margin-bottom: 60px;
}

.page-section {
    padding: 80px 0;
}

.service-item {
	cursor: pointer;
	background-color: #fff;
	text-align: center;
	padding: 30px 20px;
	transition: all 0.7s;
	box-shadow: 0px 0px 15px #cdcdcd;
}

.service-item:hover {
	background-color: #a2cf8d;
}

.service-item h4 {
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 0.5px;
	margin-bottom: 15px;
	margin-top: 25px;
}

.service-item:hover h4 {
	color: #fff;
}

.service-item:hover p {
	color: #fff;
}

.first-service .icon {
	background-image: url(../forms/img/first-service-main.png);
	height: 32px;
	width: 32px;
	display: inline-block;
}

.first-service:hover .icon {
	background-image: url(../forms/img/first-service-white.png);
}

.second-service .icon {
	background-image: url(../forms/img/second-service-main.png);
	height: 32px;
	width: 22px;
	display: inline-block;
}

.second-service:hover .icon {
	background-image: url(../forms/img/second-service-white.png);
}

.third-service .icon {
	background-image: url(../forms/img/third-service-main.png);
	height: 32px;
	width: 32px;
	display: inline-block;
}

.third-service:hover .icon {
	background-image: url(../forms/img/third-service-white.png);
}

.fourth-service .icon {
	background-image: url(../forms/img/fourth-service-main.png);
	height: 32px;
	width: 32px;
	display: inline-block;
}

.fourth-service:hover .icon {
	background-image: url(../forms/img/fourth-service-white.png);
}


#what-we-do {
	background-image: url(../forms/img/what-we-do-bg.png);
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 80px 0px;
	color: #fff;
}

#what-we-do .right-image img {
	width: 100%;
	overflow: hidden;
}

#what-we-do h4 {
	font-size: 24px;
	font-weight: 700;
	letter-spacing: 0.5px;
	line-height: 30px;
	margin-bottom: 25px;
}

#what-we-do p {
	margin-bottom: 30px;
	color: #fff;
}

#what-we-do ul li {
	display: inline-block;
	margin-right: 15px;
	margin-bottom: 15px;
}

.mySlides {display:none}

.slideshow-container {
  position: relative;
  width:800px;
  height:auto;
  margin:0 auto;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  
  top: 130px;
  left:50px;
  z-index:10001;
}

.dot {
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

#tile0{
    width: 47%;
    float: left;
    height: 200px;
    margin: 10px;
    background-color: aquamarine;
    box-shadow: 5px;
    display: inline;
}

#tile1{
    width: 47%;
    float: left;
    height: 200px;
    margin: 10px;
    background-color: aquamarine;
    box-shadow: 5px;
    display: inline;
}








//tiles

.wrapper{
    float: left;
  margin: 0 auto;
  max-width: 80rem;
}

.cols{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 47%;
    float: left;
    margin: 1%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.col{
  width: 100%;
  cursor: pointer;
}

.container{
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
    -webkit-perspective: 1000px;
            perspective: 1000px;
    width: 100%;
    float: left;
}

.front,
.back{
  background-size: cover;
    background-position: center;
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    text-align: center;
    min-height: 280px;
    height: auto;
    border-radius: 10px;
    color: #fff;
    font-size: 1.5rem;
}

.back{
  background: #cedce7;
  background: -webkit-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
  background: -o-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
  background: linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
}

.front:after{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: .6;
    background-color: #000;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-radius: 10px;
}
.container:hover .front,
.container:hover .back{
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.inner{
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
            transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
            perspective: inherit;
    z-index: 2;
}

.container .back{
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.container .front{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.container:hover .back{
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.container:hover .front{
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.front .inner p{
  font-size: 2rem;
  margin-bottom: 2rem;
  position: relative;
}

.front .inner p:after{
  content: '';
  width: 4rem;
  height: 2px;
  position: absolute;
  background: #C6D4DF;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -.75rem;
}

.front .inner span{
  color: rgba(255,255,255,0.7);
  font-family: 'Montserrat';
  font-weight: 300;
}

@media screen and (max-width: 64rem){
  .col{
    width: calc(33.333333% - 2rem);
  }
}

@media screen and (max-width: 48rem){
  .col{
    width: calc(50% - 2rem);
  }
}

@media screen and (max-width: 32rem){
  .col{
    width: 100%;
    margin: 0 0 2rem 0;
  }
}